<div class="row">
	<div class="large-12 columns">
		<table>
			<thead>
				<th>#</th>
				<th>Name</th>
				<th>Some Info</th>
			</thead>
			<tbody>
				<!-- some anuglar expression -->
				<!-- that will go trough a loop to display the names of the member and their info -->
			</tbody>
		</table>
		<br>
		<div class="row">
			<div class="large-6 columns">
				<div class="row collapse">
					<div class="small-9 columns">
						<input type="text" placeholder="Value">
					</div>
					<div class="small-3 columns">
						<span class="postfix radius">Label</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>