<h1>Register</h1>
<hr>
<form ng-submit=register()  name="myForm">
	<div class="row">
		<div id="flash" class="alert-box alert" ng-show="flash">
			{{ flash }}
		</div>
		<div class="row">
			<div class="small-8">
				<!-- Firstname -->
				<div class="row">
					<div class="small-3 columns">
						<label for="Firstname" class="right">Firstname:</label>
					</div>
					<div class="small-9 columns">
						<input  type="text" id="Firstname" placeholder="Firstname" ng-model="credentials.firstname" required>
					</div>
				</div>
				<!-- Lastname -->
				<div class="row">
					<div class="small-3 columns">
						<label for="Lastname" class="right">Lastname:</label>
					</div>
					<div class="small-9 columns">
						<input  type="text" id="Lastname" placeholder="Lastname" ng-model="credentials.lastname" required>
					</div>
				</div>
				<!-- Email -->
				<div class="row">
					<div class="small-3 columns">
						<label for="Email" class="right">Email:</label>
					</div>
					<div class="small-9 columns">
						<input  type="text" id="Email" placeholder="Email" ng-model="credentials.email" required>
					</div>
				</div>
				<!-- Password -->
				<div class="row">
					<div class="small-3 columns">
						<label for="pw1" class="right">Password:</label>
					</div>
					<div class="small-9 columns">
						<input type="password" id="pw1" name="pw1" ng-model="credentials.pw1" ng-required="" />
					</div>
				</div>
				<!-- Confirm Password -->
				<div class="row">
					<div class="small-3 columns">
						<label for="pw2" class="right">Confirm Password:</label>
					</div>
					<div class="small-9 columns">
						<input type="password" id="pw2" name="pw2" ng-model="credentials.pw2" ng-required="" pw-check="pw1" />
					</div>
				</div>
				<!-- Submit button -->
				<button type="submit" class="button round right">Register</button>
			</div>
		</div>
		<div class="msg-block" ng-show="myForm.$error">
			<span class="msg-error" ng-show="myForm.credentials.pw2.$error.pwmatch">
				Passwords don't match.
			</span>
		</div>
	</form>


