<!-- picture and basic information -->
<div class="row">
	<div class="large-4 columns">
		<img src="http://placehold.it/220x200">
	</div>
	<div class="large-8 columns left panel">
		Firstname: <INPUT name="fname" placeholder="Firstname"> <br>
		Lastname: <input name="lname" placeholder="Lastname"><br>
	</div>
</div>
<div class="row">
	<hr>
</div>
<!-- certification section-->
<div class="row">
	<hr>
	<h3>Certification</h3>
	<div class="large-12 columns">
		<button>Upload</button>
	</div>
</div>


<!-- footer -->
<div class="row">
	<hr>
	<h5>footer here</h5>
</div>